<h2><%= @mountain.name %></h2><b>
<h2><%= @mountain.content %></h2>

<form action="/mountains/<%= @mountain.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
 Name: <input type="text" name="name" required placeholder="Mountain Name">
 Content: <input type="text" name="content" required placeholder="content">
  <input type="submit" value="submit">
</form>



<style>
body {
  background-image: url('https://lh5.googleusercontent.com/proxy/BpaxIXGtIlg4GtmxBlhe4UPuzucUXPzP6I8USzV-2O3Iw0bzl1LVr4HFjwpCKX0HElISWd1cJrrITdo9vujnZXRAYE7f1uYp9ZpCy9GgLXYz_S5Zavuy03TgVguRh38XhQj1nyUjS5r3Bfn-T3DJXxoc');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
