
<html>

 <div align="center">
   <h1 style="font-family:'Courier New';" style="color:Black;">All the PEAKS!</h1>

   <ul>
    <% @mountains.each do |mountain| %>
    <% @mountain = mountain %>
        <li> <a href='/mountains/<%= @mountain.id %>'><%= mountain.name %></a>
        </li>
        <% end %>
      </ul>
</div>
</html>

<style>
body {
  background-image: url('https://www.climbing.com/.image/t_share/MTM1MjQzMDkwMjM4Njk3NDQy/roema-de-roca-in-el-churro-660.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
