
<html>
  
 <div align="center">
   <h1>YOUR PEAKS!</h1>
  
   <ul>
    <% @mountains.each do |mountain| %>
    <% @mountain = mountain %>
        <li> <a href='/mountains/<%= @mountain.id %>'><%= mountain.name %></a>
        </li>
        <% end %>
      </ul>
</div> 
</html>

<style>
body {
  background-image: url('https://i.dlpng.com/static/png/1670766-mount-snow-mountain-peak-pattern-mountain-png-image-and-clipart-mountain-png-650_365_preview.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
