
<html>
  
  <h1>Hello World!</h1>
  
   <ul>
    <% @mountains.each do |mountain| %>
        <li><%= mountain.name %>
        <%= mountain.content %>
        </li>
        <% end %>
      </ul>
  
  
</html>
