<h3> Create a new Mountain </h3>

 <form method="POST" action="/mountains">
      <p>Name: <input type="text" name="name"></p>
      <p>Content: <input type="text" name="content"></p>
      <input type="submit" value="Create New">
    </form>

    <a href="users/show">Back to My Page</a>


   <style>
body {
  background-image: url("https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/13501696_10154289140519461_6253684264118795155_n.jpg?_nc_cat=111&_nc_sid=e007fa&_nc_ohc=txZKiEAo_IoAX8KQ-8_&_nc_ht=scontent-atl3-1.xx&oh=452bd22a63a4965e51d680f97fe0541e&oe=5EB8791C");
  background-repeat: space;
  background-attachment: fixed;
  background-size: 37% 67%;
  background-position: center left;
}
</style>
