<h3> Create a new Mountain </h3>

 <form method="POST" action="/mountains">
      <p>Name: <input type="text" name="name"></p>
      <p>Content: <input type="text" name="content"></p>
      <input type="submit" value="Create New">
    </form>
    
   <style>
body {
  background-image: url("https://images.pexels.com/photos/92664/pexels-photo-92664.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>