<h3> Create a new Mountain </h3>

 <form method="POST" action="/mountains">
      <p>Name: <input type="text" name="name"></p>
      <p>Content: <input type="text" name="content"></p>
      <input type="submit" value="Create New">
    </form>
    
   <style>
body {
  background-image: url("https://images.fineartamerica.com/images-medium-large-5/vintage-surfing-shaka-hand-with-retro-akimd.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>