<%= @mountain.name %>
<%= @mountain.content %>

<form action="/mountains/<%= @mountain.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
