<%= @mountain.name %>
<%= @mountain.content %>

<form action="/mountains/<%= @mountain.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

 <a href="/mountains/<%= @mountain.id %>/edit">Edit Mountain</a>

<style>
body {
  background-image: url('https://www.mountain-forecast.com/images/mtn_home.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>