<%= @mountain.name %>
<%= @mountain.content %>

<form action="/mountains/<%= @mountain.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>



<style>
body {
  background-image: url('https://www.worldatlas.com/r/w1200-h701-c1200x701/upload/95/66/b5/valley-of-the-ten-peaks.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>