<%= @mountain.name %><b>
<%= @mountain.content %>

<form action="/mountains/<%= @mountain.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

 <a style="color:Black;" href="/mountains/<%= @mountain.id %>/edit">Edit Mountain</a>
 <a style="color:Black;" href="/mountains">Back to Mountains</a>

<style>
body {
  background-image: url('https://theundefeated.com/wp-content/uploads/2017/04/ht8a3086x.jpg?w=1500');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
