


  <h1>Login</h1>
  <form action="/login" method="post">
      <label>Username</label>
      <input type="text" name="username" required placeholder="Your Name"><br>
      <label>Password</label>
      <input type="password" required name="password"><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <style>
  body {
    background-image: url('https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/68781721_10107507805265157_4982961034651238400_n.jpg?_nc_cat=111&_nc_sid=110474&_nc_ohc=wn9f8jD_sdEAX-v1mZ9&_nc_ht=scontent-atl3-1.xx&oh=e495aa4f0748617275df6186afb7252f&oe=5EF437CE');
    background-repeat: horizontal;
    background-attachment: fixed;
    background-size: 50% 130%;
  }
  </style>
