<h1 ><strong><%= @user.username %> gets sendy!</strong></h1>

  <h2>Your Mountains</h2>
   <% @user.mountains.each do |mountain| %>
     <p><%= mountain.name %> - <a href="/mountains/<%= mountain.id %>">View</a> / <a href="/mountains/<%= mountain.id %>/edit">Edit</a></p>
   <% end %>
     <p><a href="/mountains/new">Add mountain</a></p>


  <style>
  body {
    background-image: url('https://mojagear.com/wp-content/uploads/2017/03/Cape_Fear-min.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  </style>
