
<h3>Sign Up</h3>
<form action="/signup" method="POST">
Username:	<input type="text" name="username" required placeholder="Your Name">
Password:	<input type="password" name="password" required placeholder="Password">
	<input type="submit" value="Sign Up">
</form>


<style>
body {
	background-image: url('https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/86853667_10158156791934461_5789932316658761728_n.jpg?_nc_cat=100&_nc_sid=8024bb&_nc_ohc=KYZAgQnpd7IAX_M-pBD&_nc_ht=scontent-atl3-1.xx&oh=c9043043cef8248ec555527ab3cdbc4d&oe=5EBF28C6');
	background-repeat: no-repeat;;
	background-attachment: fixed;
	background-size: 90% 140%;
	background-position: center center;
}
</style>
