<!doctype html>
<html>
  <center>
  <head>
    <title>Crux App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <body style="background-color:powderblue;">
      
  </head>
  <body> 
 
    <div class="container">
      <h1>Crux App</h1>
      <h3>The app for Climbers</h3>
      <img src="https://www.healthytravelblog.com/wp-content/uploads/2013/05/climb-a-mountain.jpg">
       </div>
   
   <%= yield %>
  
  <div class="nav">
    <a href="/logout">Log Out</a>
    <a href="/mountains">Mountains</a>
     <a href="/mountains/new">New Mountain</a>
  </div>
  
  </body>
  </center>
</html>

