<!doctype html>
<html>
  <head>
    <title>Crux App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <body style="background-color:powderblue;">
      
  </head>
  <body> 
 
    <div class="container">
      <p style="text-align:left;">
        <center><h1>Crux</h1></center>
      <h3>The App for Climbers.</h3>
      <h5>keeping track of every summit since 2020</h5>
      </p>
    </div>
   
   <%= yield %>
  
  <div class="nav">
    <a href="/logout">Log Out</a>
    <a href="/mountains">Mountains</a>
     <a href="/mountains/new">New Mountain</a>
  </div>
  
  </body>
</html>

