<h3>Login</h3>

<form method="post" action="/login">
  
 Username: <input type="text" name="username" value="">
  Password: <input type="text" name="password" value="">
  <input type="submit" value="Login">
</form>