
  <h1 style="color:DarkGoldenRod;" >Welcome</h1>



<b><p style="color:Olive;"><a style="color:Olive;" href="/login">Log in</a> or <a style="color:Olive;" href="/signup">Sign up</a></p></b>

# <style>
# .containertwo {
#   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrIDx8toe2W3hepj3SlllzRkVLLNA0F7N1Eg&usqp=CAU");
#   background-repeat: no-repeat;
#   border-radius: 25px;
#   background-position: center;
#   # background-attachment: fixed;
#   #  background-size: cover;
#    background-size: 60% 90%;
  
# }
# </style>
