
  <h1 style="color:DarkGoldenRod;" >Welcome to Crux!!</h1>



<b><p style="color:DarkBlue;"><a style="color:DarkBlue;" href="/login">Log in</a> or <a style="color:DarkBlue;" href="/signup">Sign up</a></p></b>

<style>
body {
  background-image: url('https://www.banfflakelouise.com/sites/default/files/styles/l_1600_12x6/public/via_ferrata_mount_norquay_jake_dyson_2_horizontal.jpg?itok=D_IbTt4w');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 110% 130%;
}
</style>
